@import "Color";
@import "Spacing";
@import "Breakpoint";

.AdventuresExperiences {
  position: relative;

  background:
    linear-gradient(to top, $Color-pale-grey-15, $Color-pale-grey),
    url(../images/footer.jpg)
  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.AdventuresExperiences-header {
  padding: 0 $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    padding: 0;
  };
}

.AdventuresExperiences-list {
  margin-top: $Spacing-small;

  overflow: hidden;
}

.AdventuresExperiences-actions {
  display: flex;
  justify-content: center;

  padding-top: $Spacing-small;
  padding-bottom: $Spacing-large;
}

.AdventuresExperiences-item {
  position: relative;

  padding: 0 $Spacing-xSmall / 2;

  @include Breakpoint-desktopOnly {
    padding: 0 $Spacing-small / 2;
  };
}

.AdventuresExperiences-item.position-2 {
  @include Breakpoint-desktopOnly {
    margin-top: $Spacing-base;
  };
}

.AdventuresExperiences-item.position-3 {
  @include Breakpoint-desktopOnly {
    margin-top: $Spacing-base;
  };
}

.AdventuresExperiences-item.position-3 {
  @include Breakpoint-desktopOnly {
    margin-top: calc(7 * #{$Spacing-xSmall});
  };
}

.AdventuresExperiences-item.position-4 {
  @include Breakpoint-desktopOnly {
    margin-top: calc(5 * #{$Spacing-xSmall});
  };
}

.AdventuresExperiences-itemImage {
  display: inline-block;

  width: 100%;
  max-width: 100%;

  z-index: 1;
}

.AdventuresExperiences-itemLabel {
  position: absolute;

  bottom: $Spacing-small;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - #{$Spacing-xSmall});
  text-align: center;

  z-index: 3;

  @include Breakpoint-desktopOnly {
    width: calc(100% - #{$Spacing-small});
  }
}

.AdventuresExperiences-itemOverlay {
  position: absolute;

  top: 50%;
  left: $Spacing-xSmall / 2;

  width: calc(100% - #{$Spacing-xSmall});
  height: 50%;

  background-image: linear-gradient(to bottom, $Color-charcoal-0, $Color-charcoal);

  z-index: 2;

  @include Breakpoint-desktopOnly {
    left: $Spacing-small / 2;

    width: calc(100% - #{$Spacing-small});
  }
}
