@import 'Color';
@import 'Spacing';
@import 'Breakpoint';

$Button-font-size: 13px;
$Button-line-height: 15px;
$Button-letter-spacing: 0.5px;
$Button-font-family: 'Lato Black', sans-serif;
$Button-inner-border-width: 2px;

.Button {
  position: relative;

  display: block;

  padding: $Spacing-xSmall;

  background-color: $Color-algae-green;

  color: $Color-pale-grey;

  font-size: $Button-font-size;
  line-height: $Button-line-height;
  letter-spacing: $Button-letter-spacing;
  font-family: $Button-font-family;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border: none;

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  &::after {
    position: absolute;

    content: '';

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: calc(100% - #{$Button-inner-border-width * 4});
    height: calc(100% - #{$Button-inner-border-width * 4});

    border: $Color-pale-grey solid $Button-inner-border-width;

    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $Color-algae-green;
    background-color: $Color-pale-grey;

    &::after {
      border-color: $Color-algae-green;
    }
  }
}

.Button.Button--alternative {
  background-color: $Color-pale-grey;

  color: $Color-algae-green;

  &::after {
    border-color: $Color-algae-green;
  }

  &:hover {
    background-color: $Color-algae-green;

    color: $Color-pale-grey;

    &::after {
      border-color: $Color-pale-grey;
    }
  }
}

.Button + .Button {
  margin-top: $Spacing-xSmall;
}
