@import "Spacing";

.CorporateTeamBuilding {
  padding: 0 $Spacing-xSmall;
}

.CorporateTeamBuilding-header {
  margin-bottom: $Spacing-small;
}

.CorporateTeamBuilding-actions {
  margin: $Spacing-small 0;
}

.CorporateTeamBuilding-actions {
  margin: $Spacing-small 0;
}

.CorporateTeamBuilding-image {
  margin-right: -$Spacing-xSmall;
}
