@import "Spacing";
@import "Breakpoint";

.CorporateTeamBuilding {
  width: 100%;
  max-width: 100%;
}

.CorporateTeamBuilding-content {
  overflow: hidden;

  padding: 0 $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    padding: 0;
  }
}

.CorporateTeamBuilding-header {
  margin-bottom: $Spacing-small;

  @include Breakpoint-desktopOnly {
    margin-top: calc(10 * #{$Spacing-xSmall});
  };
}

.CorporateTeamBuilding-actions {
  margin: $Spacing-small 0;
}

.CorporateTeamBuilding-actions {
  margin: $Spacing-small 0;
}

.CorporateTeamBuilding-image {
  margin-right: -$Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    margin-top: $Spacing-small;
    margin-right: 0;
  }
}
