@import "Spacing";
@import "Breakpoint";

.GuidedThematicTours {
  width: 100%;
  max-width: 100%;
}

.GuidedThematicTours-content {
  overflow: hidden;

  padding: 0 $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    padding: 0;
  }
}

.GuidedThematicTours-header {
  margin-bottom: $Spacing-small;

  @include Breakpoint-desktopOnly {
    margin-top: calc(10 * #{$Spacing-xSmall});
  };
}

.GuidedThematicTours-actions {
  margin: $Spacing-small 0;
}

.GuidedThematicTours-actions {
  margin: $Spacing-small 0;

  @include Breakpoint-desktopOnly {
    margin-bottom: 0;
  };
}

.GuidedThematicTours-image {
  margin-right: -$Spacing-xSmall;
}

.GuidedThematicTours-footerImage {
  @include Breakpoint-desktopOnly {
    margin-top: $Spacing-large;
  };
}
