@import "Spacing";

.GuidedThematicTours {
  padding: 0 $Spacing-xSmall;
}

.GuidedThematicTours-header {
  margin-bottom: $Spacing-small;
}

.GuidedThematicTours-actions {
  margin: $Spacing-small 0;
}

.GuidedThematicTours-actions {
  margin: $Spacing-small 0;
}

.GuidedThematicTours-image {
  margin-right: -$Spacing-xSmall;
}
