@import 'Color';
@import 'Spacing';
@import 'Breakpoint';

$Hero-z-index-background: 1;
$Hero-z-index-backgroundOverlay: 2;
$Hero-z-index-foreground: 3;

.Hero {
  position: relative;

  width: 100%;
  height: 100vh;
  max-height: 100vh;

  overflow: hidden;
}

.Hero-background {
  position: absolute;

  top: 0;
  left: 50%;

  width: 300vw;
  height: 100vh;

  transform: translateX(-50%);

  z-index: $Hero-z-index-background;
}

.Hero-darkOverlay,
.Hero-lightOverlay {
  position: absolute;

  left: 0;
  z-index: $Hero-z-index-backgroundOverlay;
  width: 100%;
  height: 100%;
}

.Hero-darkOverlay {
  top: 0;

  background-image: linear-gradient(
    to bottom,
    $Color-black-60,
    $Color-black-20
  );
}

.Hero-lightOverlay {
  bottom: 0;

  height: 50%;

  background-image: linear-gradient(
    to bottom,
    $Color-pale-grey-0,
    $Color-pale-grey
  );
}

.Hero-content {
  position: absolute;

  top: 50%;
  left: 0;

  width: 100%;

  transform: translateY(-50%);

  padding: 0 $Spacing-xSmall;

  z-index: $Hero-z-index-foreground;

  @include Breakpoint-desktopOnly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 0;
  }
}

.Hero-actions {
  margin-top: $Spacing-small;
}

.Hero-logo {
  display: block;

  width: 100%;
  max-width: 500px;
  height: auto;

  margin: 0 auto $Spacing-base;

  @include Breakpoint-tabletOnly {
  }

  @include Breakpoint-desktopOnly {
  }
}
