@import "Color";
@import "Spacing";

.Layout {
  display: block;

  width: 100%;
  height: 100%;

  background: $Color-pale-grey;
}

.Layout-content {
  display: block;

  width: 100%;
  height: 100%;
}

.Layout-footer {
  display: block;

  width: 100%;
  height: 100%;

  padding: $Spacing-large $Spacing-xSmall;

  background-color: $Color-charcoal;
}
