@import "Color";
@import "Spacing";

.Layout {
  display: block;

  width: 100%;
  height: 100%;

  background: $Color-pale-grey;
}

.Layout-content {
  display: block;

  width: 100%;
  height: 100%;
}
