@import "Color";
@import "Breakpoint";

$PageTitle-font-size-mobile: 20px;
$PageTitle-font-size-desktop: 45px;
$PageTitle-line-height-mobile: 30px;
$PageTitle-line-height-desktop: 75px;
$PageTitle-letter-spacing-mobile: 1px;
$PageTitle-letter-spacing-desktop: 2.2px;
$PageTitle-font-family: 'Lato Black', sans-serif;

.PageTitle {
  color: $Color-pale-grey;

  font-size: $PageTitle-font-size-mobile;
  line-height: $PageTitle-line-height-mobile;
  letter-spacing: $PageTitle-letter-spacing-mobile;
  font-family: $PageTitle-font-family;
  font-weight: bold;

  @include Breakpoint-desktopOnly {
    font-size: $PageTitle-font-size-desktop;
    line-height: $PageTitle-line-height-desktop;
    letter-spacing: $PageTitle-letter-spacing-desktop;
  };
}
