@import "Color";

$PlayButton-size: 30px;
$PlayButton-inner-circle-size: 25px;

.PlayButton {
  position: relative;

  display: block;

  width: $PlayButton-size;
  height: $PlayButton-size;

  background-color: $Color-pale-grey;

  border: none;
  border-radius: 50%;

  &::after {
    position: absolute;

    content: "";

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: $PlayButton-inner-circle-size;
    height: $PlayButton-inner-circle-size;

    border: $Color-algae-green solid 1px;
    border-radius: 50%;
  }
}
