@import 'Color';
@import 'Breakpoint';

$PlayButton-size-mobile: 30px;
$PlayButton-size-desktop: 40px;
$PlayButton-inner-circle-size-mobile: 25px;
$PlayButton-inner-circle-size-desktop: 30px;

.PlayButton {
  position: relative;

  display: block;

  width: $PlayButton-size-mobile;
  height: $PlayButton-size-mobile;

  background-color: $Color-pale-grey;

  border: none;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  &::after {
    position: absolute;

    content: '';

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: $PlayButton-inner-circle-size-mobile;
    height: $PlayButton-inner-circle-size-mobile;

    border: $Color-algae-green solid 1px;
    border-radius: 50%;

    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: $Color-algae-green;

    &::after {
      border-color: $Color-pale-grey;
    }

    .PlayButton-icon {
      border-left: 15px solid $Color-pale-grey;
    }
  }

  @include Breakpoint-desktopOnly {
    width: $PlayButton-size-desktop;
    height: $PlayButton-size-desktop;

    &::after {
      width: $PlayButton-inner-circle-size-desktop;
      height: $PlayButton-inner-circle-size-desktop;

      border-width: 2px;
    }
  }
}

.PlayButton-icon {
  position: absolute;

  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 15px solid $Color-algae-green;

  transition: all 0.3s ease-in-out;
}
