@import "Spacing";

.TourismPrograms {
  padding: 0 $Spacing-xSmall;
}

.TourismPrograms-header {
  margin-bottom: $Spacing-small;
}

.TourismPrograms-actions {
  margin: $Spacing-small 0;
}

.TourismPrograms-actions {
  margin: $Spacing-small 0;
}

.TourismPrograms-image {
  margin-right: -$Spacing-xSmall;
}
